* {
    margin: 0;
    padding: 0 ;
  }

  header{
    position:fixed;
    top:0;
    width:100%;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
    height: 90px;
    background-color: #FADEB4;
    z-index: 9999;
  }

  .head-animation {
    transform: translateY(-100%);
  }

  #top{
    display:flex;
    position:fixed;
    top:0;
    width:100%;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
    height: 90px;
    background-color: #FADEB4;
    z-index: 9999;
  }
  
  .title0{
    justify-content: center;
    align-items: center;
    font-family: 'Qwigley', cursive;
    font-size: 48px;
    margin:0;
    margin-left: 500px;
    height:90px;
    padding-top:15px;
    background-color: #FADEB4;
  }
  
  .ddmenu {
    margin: 0px;               /* メニューバー外側の余白(ゼロ) */
    padding: 0px 0px 0px 0px; /* メニューバー内側の余白(左に15px) */
    background-color: #FADEB4; /* バーの背景色(濃い赤色) */
  }
  
  .ddmenu li {
    width: 242px;           /* メニュー項目の横幅(125px) */
    font-size: 40px;    
    list-style-type: none;  /* ★2:リストの先頭記号を消す */
    position: relative;     /* ★3:サブメニュー表示の基準位置にする */
  }
  .ddmenu a {
    background-color: #FADEB4; /* メニュー項目の背景色(濃い赤色) */
    color: black;              /* メニュー項目の文字色(白色) */
    line-height: 90px;         /* メニュー項目のリンクの高さ(40px) */
    text-align: left;        /* メインメニューの文字列の配置(中央寄せ) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    font-weight: bold;         /* 太字にする */
    padding-left: 30px;
    display: block;            /* ★4:項目内全域をリンク可能にする */
  }
  .ddmenu a:hover {
    background-color: #FADEB4; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
    color: #dd0000;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
  }
  
  /* ▼サブメニューは、とりあえず非表示にしておく */
  .ddmenu ul {
    display: none;         /* ★5:非表示にする */
    display: none;       /* ★1:標準では非表示にする */
    margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
    padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
    position: absolute;  /* ★4:絶対配置にする */
  }

  .ddmenu li:hover ul {
    display: block;      /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
  }
  
  .ddmenu ul li a {   /* ※B */
    line-height: 55px;   /* サブメニュー1項目の高さ(35px) */
    text-align: left;    /* 文字列の配置(左寄せ) */
    font-family: Radley;
    margin-left: 0px;
    padding-left: 30px;
    font-size: 20px;
  }

  #first-block {
    height: 750px;
    width:100%;
    background-color: white;
  }
   
   .title-1{
     display:flex;
   }

    .explain1{
       display:flex;
       margin-top: 120px;
     }
    
      .explain1-1{
        font-size: 60px;
        font-family: 'Qwigley', cursive;
        margin-left: 20%;
        margin-right: 4%;
        padding-top: -20px;
      }

      .explain1-2{
       font-size: 35px;
       font-family: Radley;
      }

    .first-image{
      height:455.11px;
      width: 782px;
      position:relative;
      top: 2px;
      left: 600px;
    }
  
  #second-block {
    display: flex;
    height: 850px;
    width:100%;
    background-color: white;
    margin-top: 10%;
  }

  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
   
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
   
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
   
  .carousel {
    position: fixed;
    margin-left: -200px;
    margin-right: -200px;
    padding: 0 ;
    font-family: 'Lato', sans-serif;
    width:346px;
    height:750px;
  }
   
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
   
  *::-webkit-scrollbar {
    width: 0;
  }
   
  *::-webkit-scrollbar-track {
    background: transparent;
  }
   
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
   
  * {
    -ms-overflow-style: none;
  }
   
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
   
  .carousel {
    position: fixed;
    margin-left: 0px;
    margin-right: 0px;
    filter: drop-shadow(0 0 10px #0003);
    padding-top: 0%;
    perspective: 100px;
    
  }
   
  .carousel__viewport {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: fixed;
    margin: 0;
    flex: 0 0 100%;
    width:100%;
    background-image:url(../images/block2-1new.jpg); 
    background-size: 100%;
    counter-increment: item;
    border-radius:50px 50px 30px 30px;
  }
   
  .carousel__slide:nth-child(even) {
    width:100%;
    background-image:url(../images/block2-2new.jpg); 
    background-size: 100%;
  }
   
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
   
  .carousel__snapper {
    position: fixed;
    top: 0;
    margin-left: 0;
    width:100%;
    height:100%;
    scroll-snap-align: center;
  }
   
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }
   
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
   
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
   
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
   
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
   
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
   
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
   
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 35%;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
   
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
   
  .carousel::after,
  .carousel__next {
    right: -1rem;
    margin-left: 50px;
    z-index: 20px;
    
  }
   
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
   
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
   
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

    .letter2{
      margin-top:auto;
      margin-bottom: auto; 
      margin-left: -120px; 
      margin-right: 260px;
      line-height: 40px;
    }

    .jenre2{
     display:flex;
    }

     .jenre2-1{
       font-size: 24px;
       font-family: BIZ UDPゴシック;
       color:black;
       margin-right:50px;
      }

      .jenre2-2{
       font-size: 24px;
       font-family: BIZ UDPゴシック;
       color:#FF725E;
      }

    .title2{
      font-size: 45px;
      font-family: BIZ UDPゴシック;
      line-height: 70px;
    }

    .explain2{
      font-size: 20px;
      font-family: BIZ UDPゴシック;
      color: #545454;
    }
  
  .miniblock1{
    width:100%;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .third-block {
    display: flex;
    height: 850px;
    width:100%;
    background-color: white;
  }

   .third-image{
     height: 750px;
     width: 346px;
     margin-top:auto;
     margin-bottom: auto;
     margin-left: 16%;
     margin-right: 6%;
    }

    .letter3{
      margin-top:auto;
      margin-bottom: auto; 
      line-height: 40px;
    }

   .title3{
     font-size: 45px;
     font-family: Radley;
     line-height: 70px;
    }

    .explain3{
      font-size: 20px;
      font-family: Radley;
      color: #545454;
    }

  .fourth-block{
    width: 100%;
    height: 400px;
    display: flex;
    background-color: white;
  }
  
   .fourth-image{
     width: 431px;
     height: 360px;
     margin-left: auto;
     margin-right: auto;
     margin-top: auto;
     margin-bottom: auto;
    }
  
  #fifth-block{
    display: flex;
    height: 3000px;
    width:100%;
    background-color: white;
  }

   .letter5{
     margin-top:auto;
     margin-bottom: 21%; 
     margin-left: 15%;
     margin-right: 6%;
     line-height: 40px;
    }

   .jenre5{
     display:flex;
    }

     .jenre5-1{
       font-size: 24px;
       font-family: Radley;
       color:black;
       margin-right:50px;
      }

     .jenre5-2{
       font-size: 24px;
       font-family: Radley;
       color:#FF725E;
      }

    .title5{
      font-size: 45px;
      font-family: Radley;
      line-height: 70px;
     }

    .explain5{
      font-size: 20px;
      font-family: Radley;
      color: #545454;
    }

    .fifth-image{
      height: 750px;
      width: 346px;
      margin-top:auto;
      margin-left: 1%;
      margin-bottom: 3%;
    }

  .miniblock2{
     width:100%;
     height:50px;
     display:flex;
     justify-content: center;
     align-items: center;
     background-color: white;
  }

  .sixth-block{
    display: flex;
    height: 850px;
    width:100%;
    background-color: white;
  }
    
   .letter6{
     margin-top:auto;
     margin-bottom: auto; 
     margin-left: 17%;
     margin-right: 5.5%;
     line-height: 40px;
    }

    .title6{
      font-size: 45px;
      font-family: Radley;
      line-height: 70px;
    }

    .explain6{
      font-size: 20px;
      font-family: Radley;
      color: #545454;
    }

    .sixth-image{
      height: 750px;
      width: 346px;
      margin-top:auto;
      margin-bottom: auto;
      margin-left: 6%;
    }

  .seventh-block{
    display: flex;
    width:100%;
    height: 480px;
    background-color: white;
  }
    
    .seventh-image{
      height: 360px;
      width: 431px;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
    }

  #eighth-block{
    display: flex;
    height: 850px;
    width:100%;
    background-color: white;
  }
  
   .eighth-image{
     height: 750px;
     width: 346px;
     margin-top:auto;
     margin-bottom: auto;
     margin-left: 16%;
     margin-right: 6%;
    }

    .letter8{
      margin-top:auto;
      margin-bottom: auto; 
      line-height: 40px;
    }

   .jenre8{
     display:flex;
    }

     .jenre8-1{
       font-size: 24px;
       font-family: Radley;
       color:black;
       margin-right:50px;
      }

     .jenre8-2{
       font-size: 24px;
       font-family: Radley;
       color:#FF725E;
      }

   .title8{
     font-size: 45px;
     font-family: Radley;
     line-height: 70px;
    }

    .explain8{
      font-size: 20px;
      font-family: Radley;
      color: #545454;
    }

  .ninth-block{
    display: flex;
    width:100%;
    height: 480px;
    background-color: white;
  }

    .ninth-image{
      height: 360px;
      width: 431px;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
    }

  #tenth-block{
    display: flex;
    width:100%;
    height: 850px;
    background-color: white;
  }

   .letter10{
    margin-top:auto;
    margin-bottom: auto; 
    margin-left: 15%;
    line-height: 40px;
   }

    .jenre10{
     display:flex;
    }

     .jenre10-1{
       font-size: 24px;
       font-family: Radley;
       color:black;
       margin-right:50px;
      }

     .jenre10-2{
       font-size: 24px;
       font-family: Radley;
       color:#FF725E;
      }

    .title10{
      font-size: 45px;
      font-family: Radley;
      line-height: 70px;
     }

    .explain10{
      font-size: 20px;
      font-family: Radley;
      color: #545454;
    }

    .tenth-image{
      height: 750px;
      width: 346px;
      margin-top:auto;
      margin-bottom: auto;
      margin-left: 6%;
    }  

    @keyframes tonext {
      75% {
        left: 0;
      }
      95% {
        left: 100%;
      }
      98% {
        left: 100%;
      }
      99% {
        left: 0;
      }
    }
     
    @keyframes tostart {
      75% {
        left: 0;
      }
      95% {
        left: -300%;
      }
      98% {
        left: -300%;
      }
      99% {
        left: 0;
      }
    }
     
    @keyframes snap {
      96% {
        scroll-snap-align: center;
      }
      97% {
        scroll-snap-align: none;
      }
      99% {
        scroll-snap-align: none;
      }
      100% {
        scroll-snap-align: center;
      }
    }
     
    .carousel {
      margin: 0 auto;
      padding: 0 ;
      font-family: 'Lato', sans-serif;
      width:346px;
      height:725px;
    }
     
    * {
      box-sizing: border-box;
      scrollbar-color: transparent transparent; /* thumb and track color */
      scrollbar-width: 0px;
    }
     
    *::-webkit-scrollbar {
      width: 0;
    }
     
    *::-webkit-scrollbar-track {
      background: transparent;
    }
     
    *::-webkit-scrollbar-thumb {
      background: transparent;
      border: none;
    }
     
    * {
      -ms-overflow-style: none;
    }
     
    ol, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
     
    .carousel {
      position: relative;
      filter: drop-shadow(0 0 10px #0003);
      padding-top: 0%;
      perspective: 100px;
      
    }
     
    .carousel__viewport {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      overflow-x: scroll;
      counter-reset: item;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
    }
  
    .carousel__slide {
      position: relative;
      flex: 0 0 100%;
      width:100%;
      background-image:url(../images/block2-1new.jpg); 
      background-size: 100%;
      counter-increment: item;
      border-radius:50px 50px 50px 50px;
    }
     
    .carousel__slide:nth-child(even) {
      width:100%;
      background-image:url(../images/block2-2new.jpg); 
      background-size: 100%;
    }
     
    .carousel__slide:before {
      content: counter(item);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-40%,70px);
      color: #fff;
      font-size: 2em;
    }
     
    .carousel__snapper {
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      scroll-snap-align: center;
    }
     
    @media (hover: hover) {
      .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
      }
     
      .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
      }
    }
     
    @media (prefers-reduced-motion: reduce) {
      .carousel__snapper {
        animation-name: none;
      }
    }
     
    .carousel:hover .carousel__snapper,
    .carousel:focus-within .carousel__snapper {
      animation-name: none;
    }
     
    .carousel__navigation {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
    }
     
    .carousel__navigation-list,
    .carousel__navigation-item {
      display: inline-block;
    }
     
    .carousel__navigation-button {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background-color: #FADEB4;
      background-clip: content-box;
      border: 0.25rem solid transparent;
      border-radius: 50%;
      font-size: 0;
      transition: transform 0.1s;
    }
     
    .carousel::before,
    .carousel::after,
    .carousel__prev,
    .carousel__next {
      position: absolute;
      top: 35%;
      margin-top: 37.5%;
      width: 4rem;
      height: 4rem;
      transform: translateY(-50%);
      border-radius: 50%;
      font-size: 0;
      outline: 0;
    }
     
    .carousel::before,
    .carousel__prev {
      left: -1rem;
    }
     
    .carousel::after,
    .carousel__next {
      right: -1rem;
      margin-left: 50px;
      z-index: 20px;
      
    }
     
    .carousel::before,
    .carousel::after {
      content: '';
      z-index: 1;
      background-color: rgba(51, 51, 51, 0.651);
      background-size: 1.5rem 1.5rem;
      background-repeat: no-repeat;
      background-position: center center;
      color: #fff;
      font-size: 2.5rem;
      line-height: 4rem;
      text-align: center;
      pointer-events: none;
    }
     
    .carousel::before {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
    }
     
    .carousel::after {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
    }
  

  footer{
    height: 80px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .footer1{
     color: black;
  }

  #page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    background-color: #FADEB4;
    opacity: 1;
    border-radius:30px;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: hsla(0, 0%, 0%, 0.479);
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
