* {
    margin: 0;
    padding: 0;
  }

  header{
    position:fixed;
    top:0;
    width:100%;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
    height: 90px;
    background-color: #FADEB4;
    z-index: 9999;
  }

  .head-animation {
    transform: translateY(-100%);
  }

  #top{
    display:flex;
    position:fixed;
    top:0;
    width:100%;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
    height: 90px;
    background-color: #FADEB4;
    z-index: 9999;
  }
  
  .title0{
    justify-content: center;
    align-items: center;
    font-family: 'Qwigley', cursive;
    font-size: 80px;
    margin: auto;
    padding-left: 250%;
  }
  
  .ddmenu {
    margin: 0px;               /* メニューバー外側の余白(ゼロ) */
    padding: 0px 0px 0px 0px; /* メニューバー内側の余白(左に15px) */
    background-color: #FADEB4; /* バーの背景色(濃い赤色) */
  }
  
  .ddmenu li {
    width: 300px;           /* メニュー項目の横幅(125px) */
    font-size: 30px;
    font-family: Radley;
    
    list-style-type: none;  /* ★2:リストの先頭記号を消す */
    position: relative;     /* ★3:サブメニュー表示の基準位置にする */
  }
  .ddmenu a {
    background-color: #FADEB4; /* メニュー項目の背景色(濃い赤色) */
    color: black;              /* メニュー項目の文字色(白色) */
    line-height: 90px;         /* メニュー項目のリンクの高さ(40px) */
    text-align: left;        /* メインメニューの文字列の配置(中央寄せ) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    font-weight: bold;         /* 太字にする */
    padding-left: 30px;
    display: block;            /* ★4:項目内全域をリンク可能にする */
  }
  .ddmenu a:hover {
    background-color: #FADEB4; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
    color: #dd0000;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
  }
  
  /* ▼サブメニューは、とりあえず非表示にしておく */
  .ddmenu ul {
    display: none;         /* ★5:非表示にする */
    display: none;       /* ★1:標準では非表示にする */
    margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
    padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
    position: absolute;  /* ★4:絶対配置にする */
  }
  
  /* ---------------------------------- */
  /* ▼サブメニューがある場合に開く処理 */   /* ※サブメニューが1階層しか存在しない場合の記述 */
  /* ---------------------------------- */
  .ddmenu li:hover ul {
    display: block;      /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
  }
  
  .ddmenu ul li a {   /* ※B */
    line-height: 110px;   /* サブメニュー1項目の高さ(35px) */
    text-align: left;    /* 文字列の配置(左寄せ) */
    font-family: Radley;
    margin-left: 0px;
    padding-left: 30px;
  }

  #first-block {
    height: 750px;
    width:100%;
    background-color:white;
  }
   
   .title-1{
     display:flex;
   }

    .explain1{
       display:flex;
       margin-top: 120px;
     }
    
      .explain1-1{
        font-size: 40px;
        font-family: 'Qwigley', cursive;
        margin-left: 20%;
        margin-right: 2%;
      }

      .explain1-2{
       font-size: 40px;
       font-family: Radley;
      }

    .explain1-3{
      font-size: 40px;
      font-family: Radley;
      margin-left: 20%;
    }

    .first-image{
      height:455.11px;
      width: 782px;
      position:relative;
      top: 2px;
      left: 600px;
    }
  
  #second-block {
    display: flex;
    height: 850px;
    width:100%;
    background-color: white;
    margin-top: 10%;
  }

    .second-image{
      height: 750px;
      width: 346px;
      margin-left: 16%;
      margin-top:auto;
      margin-bottom: auto;
      margin-right: 6%;
    }

    .letter2{
      margin-top:auto;
      margin-bottom: auto; 
    }

    .jenre2{
     display:flex;
    }

     .jenre2-1{
       font-size: 24px;
       font-family: Radley;
       color:black;
       margin-right:50px;
      }

      .jenre2-2{
       font-size: 24px;
       font-family: Radley;
       color:#FF725E;
      }

    .title2{
      font-size: 45px;
      font-family: Radley;
    }

    .explain2{
      font-size: 20px;
      font-family: Radley;
      color: #545454;
    }
  
  .miniblock1{
    width:100%;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .third-block {
    display: flex;
    height: 850px;
    width:100%;
    background-color: white;
  }

   .third-image{
     height: 750px;
     width: 346px;
     margin-top:auto;
     margin-bottom: auto;
     margin-left: 16%;
     margin-right: 6%;
    }

    .letter3{
      margin-top:auto;
      margin-bottom: auto; 
    }

   .title3{
     font-size: 45px;
     font-family: Radley;
    }

    .explain3{
      font-size: 20px;
      font-family: Radley;
      color: #545454;
    }

  .fourth-block{
    width: 100%;
    height: 400px;
    display: flex;
    background-color: white;
  }
  
   .fourth-image{
     width: 431px;
     height: 360px;
     margin-left: auto;
     margin-right: auto;
     margin-top: auto;
     margin-bottom: auto;
    }
  
  .fifth-block{
    display: flex;
    height: 3000px;
    width:100%;
    background-color: white;
  }

   .letter5{
     margin-top:auto;
     margin-bottom: 21%; 
     margin-left: 15%;
     margin-right: 6%;
    }

   .jenre5{
     display:flex;
    }

     .jenre5-1{
       font-size: 24px;
       font-family: Radley;
       color:black;
       margin-right:50px;
      }

     .jenre5-2{
       font-size: 24px;
       font-family: Radley;
       color:#FF725E;
      }

    .title5{
      font-size: 45px;
      font-family: Radley;
     }

    .explain5{
      font-size: 20px;
      font-family: Radley;
      color: #545454;
    }

    .fifth-image{
      height: 750px;
      width: 346px;
      margin-top:auto;
      margin-left: 1%;
      margin-bottom: 3%;
    }

  .miniblock2{
     width:100%;
     height:50px;
     display:flex;
     justify-content: center;
     align-items: center;
     background-color: white;
  }

  .sixth-block{
    display: flex;
    height: 850px;
    width:100%;
    background-color: white;
  }
    
   .letter6{
     margin-top:auto;
     margin-bottom: auto; 
     margin-left: 17%;
     margin-right: 5.5%;
    }

    .title6{
      font-size: 45px;
      font-family: Radley;
    }

    .explain6{
      font-size: 20px;
      font-family: Radley;
      color: #545454;
    }

    .sixth-image{
      height: 750px;
      width: 346px;
      margin-top:auto;
      margin-bottom: auto;
      margin-left: 6%;
    }

  .seventh-block{
    display: flex;
    width:100%;
    height: 480px;
    background-color: white;
  }
    
    .seventh-image{
      height: 360px;
      width: 431px;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
    }

  #eighth-block{
    display: flex;
    height: 850px;
    width:100%;
    background-color: white;
  }
  
   .eighth-image{
     height: 750px;
     width: 346px;
     margin-top:auto;
     margin-bottom: auto;
     margin-left: 16%;
     margin-right: 6%;
    }

    .letter8{
      margin-top:auto;
      margin-bottom: auto; 
    }

   .jenre8{
     display:flex;
    }

     .jenre8-1{
       font-size: 24px;
       font-family: Radley;
       color:black;
       margin-right:50px;
      }

     .jenre8-2{
       font-size: 24px;
       font-family: Radley;
       color:#FF725E;
      }

   .title8{
     font-size: 45px;
     font-family: Radley;
    }

    .explain8{
      font-size: 20px;
      font-family: Radley;
      color: #545454;
    }

  .ninth-block{
    display: flex;
    width:100%;
    height: 480px;
    background-color: white;
  }

    .ninth-image{
      height: 360px;
      width: 431px;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
    }

  .tenth-block{
    display: flex;
    width:100%;
    height: 850px;
    background-color: white;
  }

   .letter10{
    margin-top:auto;
    margin-bottom: auto; 
    margin-left: 15%;
   }

    .jenre10{
     display:flex;
    }

     .jenre10-1{
       font-size: 24px;
       font-family: Radley;
       color:black;
       margin-right:50px;
      }

     .jenre10-2{
       font-size: 24px;
       font-family: Radley;
       color:#FF725E;
      }

    .title10{
      font-size: 45px;
      font-family: Radley;
     }

    .explain10{
      font-size: 20px;
      font-family: Radley;
      color: #545454;
    }

    .tenth-image{
      height: 750px;
      width: 346px;
      margin-top:auto;
      margin-bottom: auto;
      margin-left: 6%;
    }

  
  footer{
    height: 80px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
  }

  #page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    background: #FF725E;
    opacity: 1;
    border-radius:30px;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: hsla(0, 0%, 0%, 0.479);
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }